<div grid>
<div col="1" class="styling">1</div>
<div col="1" class="styling">2</div>
<div col="1" class="styling">3</div>
<div col="1" class="styling">4</div>
<div col="1" class="styling">5</div>
<div col="1" class="styling">6</div>
<div col="1" class="styling">7</div>
<div col="1" class="styling">8</div>
<div col="1" class="styling">9</div>
<div col="1" class="styling">10</div>
<div col="1" class="styling">11</div>
<div col="1" class="styling">12</div>

<div class="styling" col="2">1</div>
<div class="styling" col="2">2</div>
<div class="styling" col="2">3</div>
<div class="styling" col="2">4</div>
<div class="styling" col="2">5</div>
<div class="styling" col="2">6</div>

<div class="styling" col="3">1</div>
<div class="styling" col="3">2</div>
<div class="styling" col="3">3</div>
<div class="styling" col="3">4</div>

<div class="styling" col="4">1</div>
<div class="styling" col="4">2</div>
<div class="styling" col="4">3</div>

<div class="styling" col="6">1</div>
<div class="styling" col="6" rows="3">2</div>

<div class="styling" col="6">1</div>

<div class="styling" col="6">Lightweight Grid Layout</div>
<div class="styling" col="4">Easy to use Directive</div>
<div class="styling" col="4">Utilized Grid Api</div>

<div class="styling" col="4">Responsive</div>
<div class="styling" col="4">12 col system</div>
<div class="styling" col="8" nested>
  <div class="styling" col="6" nested>
    <div class="styling" col="6">6</div>
    <div class="styling" col="6">6</div>
  </div>
  <div class="styling" col="6">6</div>
</div>
</div>